# Ignora o ambiente virtual e bibliotecas
venv/
env/
.env

# Ignora os arquivos de cache compilados do Python
__pycache__/
*.pyc

# Ignora arquivos do pyinstaller
dist/
build/
*.spec
*.exe
*.log
*.manifest
*.dll

# Ignora o banco de dados local (cada cliente terá o seu, não vai pro código)
*.db

# Ignora arquivos de configuração local (se houver)
config_local.json   

# Ignora arquivos de log
*.log

# Ignora arquivos de imagems (ícones, logos, etc.)
*.png
*.jpg
*.jpeg
*.ico
*.gif
*.bmp

# Ignora arquivos de backup e temporários
*.bak
*.bat

# Ignora arquivos de configuração do editor (se houver)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace
*.settings
*.suo
*.user