# Ignora o ambiente virtual e bibliotecas
venv/
env/

# Ignora os arquivos de cache compilados do Python
__pycache__/
*.pyc

# Ignora o banco de dados local (cada cliente terá o seu, não vai pro código)
*.db